<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor
	license agreements. See the NOTICE file distributed with this work for additional
	information regarding copyright ownership. The ASF licenses this file to
	You under the Apache License, Version 2.0 (the "License"); you may not use
	this file except in compliance with the License. You may obtain a copy of
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required
	by applicable law or agreed to in writing, software distributed under the
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
	OF ANY KIND, either express or implied. See the License for the specific
	language governing permissions and limitations under the License. -->
<plugin id="indexer-solr" name="SolrIndexWriter" version="1.0.0"
	provider-name="nutch.apache.org">

	<runtime>
		<library name="indexer-solr.jar">
			<export name="*" />
		</library>

		<!-- Solr 9.4.0 core -->
		<library name="solr-solrj-9.4.0.jar" />
		<library name="solr-api-9.4.0.jar" />
		<library name="solr-solrj-streaming-9.4.0.jar" />
		<library name="solr-solrj-zookeeper-9.4.0.jar" />

		<!-- Jackson -->
		<library name="jackson-annotations-2.18.3.jar" />
        <library name="jackson-core-2.18.3.jar" />
        <library name="jackson-databind-2.18.3.jar" />

		<!-- HTTP Components -->
		<library name="httpmime-4.5.14.jar" />
        <library name="httpclient-4.5.5.jar" />
        <library name="httpcore-4.4.16.jar" />

        <!-- Jetty 10.0.17 (core components) -->
        <library name="jetty-util-10.0.17.jar" />
        <library name="jetty-http-10.0.17.jar" />
        <library name="jetty-io-10.0.17.jar" />
        <library name="jetty-client-10.0.17.jar" />
        <library name="jetty-alpn-client-10.0.17.jar" />
        <library name="jetty-alpn-java-client-10.0.17.jar" />

        <!-- Jetty 10.0.17 (HTTP/2 components) -->
        <library name="http2-client-10.0.17.jar" />
        <library name="http2-common-10.0.17.jar" />
        <library name="http2-hpack-10.0.17.jar" />
        <library name="http2-http-client-transport-10.0.17.jar" />

		<!-- ZooKeeper -->
		<library name="zookeeper-3.8.4.jar" />
		<library name="zookeeper-jute-3.8.4.jar" />
		<library name="audience-annotations-0.12.0.jar" />

		<!-- Commons Math -->
		<library name="commons-math3-3.6.1.jar" />

		<!-- SLF4J bridge -->
		<library name="jcl-over-slf4j-2.0.17.jar" />

		<!-- Swagger/JAX-RS -->
		<library name="swagger-annotations-2.2.16.jar" />
		<library name="jakarta.ws.rs-api-3.1.0.jar" />
		<library name="semver4j-5.2.1.jar" />
	</runtime>

	<requires>
		<import plugin="nutch-extensionpoints" />
	</requires>

	<extension id="org.apache.nutch.indexer.solr"
		name="Solr Index Writer" point="org.apache.nutch.indexer.IndexWriter">
		<implementation id="SolrIndexWriter"
			class="org.apache.nutch.indexwriter.solr.SolrIndexWriter" />
	</extension>

</plugin>
