[Unit]
Description=OSSearch Service
#After=syslog.target ssd.mount networking.service
RequiresMountsFor=/data

[Service]
Environment="PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
User=apache
#ExecStart=@project.build.directory@/@project.build.finalName@.jar
ExecStart=/usr/bin/java -cp @project.build.directory@/@project.build.finalName@.jar -Dloader.path=conf org.springframework.boot.loader.PropertiesLauncher

WorkingDirectory=@project.build.directory@
SuccessExitStatus=143
SyslogIdentifier=ossearch-service
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target