[Unit]
Description=OSSearch Service
#After=syslog.target ssd.mount networking.service
RequiresMountsFor=/data

[Service]
User=apache
#ExecStart=@project.build.directory@/@project.build.finalName@.jar
ExecStart=/usr/lib/jvm/java-1.8.0/bin/java -cp @project.build.directory@/@project.build.finalName@.jar -Dloader.path=conf org.springframework.boot.loader.PropertiesLauncher

WorkingDirectory=@project.build.directory@
SuccessExitStatus=143
SyslogIdentifier=ossearch-service
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target