html,
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
}
#container{
   margin: 0 auto !important;
}
#page-result-results{
    min-height: 60px;
    margin: 0 auto;
}

.page-link{
    color: black;
    border: none;
    text-decoration: underline;
}
.page-item.active .page-link{
    background: none;
    color:blue;
    cursor: pointer;
    text-decoration: none;
}
.page-item:hover .page-link{
    background: none;
}
.url_keymatch{
  background: #e8e8ff;
  height: 40;
}
.font_keymatch{
  color:#008000;
}
.keymatch_term{
  background: #e8e8ff;
  height: 40;
  text-align: right;
  vertical-align: text-top;
}
.keymatch_term_font{
  color: #2255aa;
}

.oss-keymatch-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.oss-keymatch-content {
    flex: 1;
}

.oss-keymatch-image {
    margin-left: 10px;
}

.oss-keymatch-thumbnail {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}